<div class="container">
    <form class="example-form" [formGroup]="formCategoria">
        <mat-form-field class="example-full-width">
          <mat-label>Categoria</mat-label>
          <input matInput placeholder="Ex. Pizza" formControlName="nome">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Descrição</mat-label>
          <textarea  matInput placeholder="Ex. Pizza" formControlName="descricao"></textarea>
        </mat-form-field>
    </form>
</div>
  